# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Logs
logs/
logs/*.log
logs/*.txt
logs/frames/*.png

# Hugging Face & Caches
.huggingface/
.cache/

# OS-specific
.DS_Store

# Game-related files
stored_tokens/
*.gb
roms/*.sav
